/* This is the main style sheet that styles global elements such as Navigation and Body */

/* NAVIGATION */
html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

.log-in-button {
	background-color: #44c767;
	border-radius: 28px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff !important;
	padding: 10px 30px;
	text-decoration: none;
}

.log-in-button:hover {
	background-color: #5cbf2a;
}

.log-in-button:active {
	position: relative;
	top: 1px;
}

.log-out-button {
	background-color: #dc143c;
	border-radius: 28px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff !important;
	padding: 10px 30px;
	text-decoration: none;
	border: 1px solid #dc143c
}

.log-out-button:hover {
	background-color: #dc143c;
}

.log-out-button:active {
	position: relative;
	top: 1px;
}


/* BODY */
body {
	background-color: #f2f3f4;
	font-family: 'Poppins', sans-serif;
}